#square-connections-section-tr {
    box-sizing: content-box;
    min-height: 39px;
    position: relative;
}
.square-connections-section-div {
    display: flex;
    align-items: center;
    height: auto;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0.75rem;
    transition-delay: 0s;
    visibility: visible;
}
.square-connections-section-div.square-connect-hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 250ms, opacity 250ms linear, height 250ms linear;
}

.eea-disconnect-section-squareonsite > img + strong {
    margin-inline-start: .3rem;
    margin-inline-end: .7rem;
}


.espresso-admin.wp-core-ui .eea-square-connect-btn.button--accent,
.espresso-admin.wp-core-ui .eea-square-connect-btn.button--secondary,
.espresso-admin.wp-core-ui .eea-register-domain-btn.button--accent {
    background-color: var(--ee-status-color-charcoal);
    border-color: var(--ee-status-color-charcoal);
    color: var(--ee-color-white);
}
.espresso-admin.wp-core-ui .eea-square-connect-btn.button--accent:hover,
.espresso-admin.wp-core-ui .eea-square-connect-btn.button--secondary:hover,
.espresso-admin.wp-core-ui .eea-register-domain-btn.button--accent:hover {
    background-color: var(--ee-status-color-dark-grey);
    border-color: var(--ee-status-color-dark-grey);
}
.espresso-admin.wp-core-ui .eea-square-connect-btn.button--accent:focus,
.espresso-admin.wp-core-ui .eea-square-connect-btn.button--secondary:focus,
.espresso-admin.wp-core-ui .eea-register-domain-btn.button--accent:focus {
    background-color: var(--ee-status-color-dark-grey);
    border-color: var(--ee-status-color-dark-grey);
}

.eea-square-connect-btn span {
    display: flex;
    align-items: center;
}
.eea-square-connect-btn span:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-inline-end: .5rem;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-image: url("../lib/square-oauth-logo-w.png");
}


/** Square Retina support **/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

    .eea-square-connect-btn span:before{
        background-image: url("../lib/square-oauth-logo-w.png");
    }
}


/** Connection information text **/
.eea-square-connected-ico {
    height: 2rem;
    width: 2rem;
}

.eea-square-connected-txt {
    color: var(--ee-status-color-green);
    font-size: 14px;
    font-weight: bold;
}

.eea-square-test-connected-txt {
    color: var(--ee-status-color-orange);
    font-size: 14px;
    font-weight: bold;
    margin-inline-end: .7rem;
}

#sandbox-mode-disabled-notice {
    margin-block-start: .25rem;
}
